<!DOCTYPE html >
<%- include ("../partials/print") %>


<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<head >

  <a >
    <img src="/images/icons/helesi.png" width="140" height="60" >
  </a>

  <div style="position: absolute;margin-top: 0px;margin-left: 10px; font-size: 15px;">Report_Code: route_<span id="date"></span> </div>

  <style>
    table, th, td {
  border: 1px solid black;
}
  </style>
  <body onload="makeCode()">
	<div id="show_table"style="overflow-x:auto;margin-left: 10px; " >
    <br>
    
    <table id="table" style="font-size: 13px; width: 100%; background-color: aliceblue;">
      <tr >
        <th>Date</th>
        <th>Hour</th>
        <th>Vehicle</th>
        <th>Driver</th>
        <th>Location</th>
        <th>Weight (KG)</th>
        <th>Route</th>
        <th>Coordinates</th>
        				
      </tr> 
      <% const data_report = JSON.parse(data)%>
      
       <% for (var i = 0; i < data_report.length; i++) {%>
       <tr>  
         <td><%= data_report[i].date%></td>
         <td><%= data_report[i].time%></td>
         <td><%= data_report[i].vehicle%></td>
         <td><%= data_report[i].driver%></td>
         <td><%= data_report[i].location%></td>
         <td><%= data_report[i].kg%></td>
         <td><%= data_report[i].routebinid%></td>
         <td><%= data_report[i].coords%></td>
         
       </tr>
       <% }; %> 
            </table>
  </div>
</body>



    <script type='text/javascript'>
        
  
   
         for (var i = 1; i < $(data_report).length + 1; i++) {
				
				   			var row = table.insertRow(i);
				 				var date = row.insertCell(0);
				 				date.innerHTML = data_report[i - 1].date;
								var time = row.insertCell(1);
								time.innerHTML = data_report[i - 1].time;
								var vehicle = row.insertCell(2);
								vehicle.innerHTML = data_report[i - 1].vehicle;
								var driver = row.insertCell(3);
                driver.innerHTML = data_report[i - 1].driver;
								var location1 = row.insertCell(4);
                location1.innerHTML = data_report[i - 1].location;
                var kg = row.insertCell(5);
                kg.innerHTML = data_report[i - 1].kg;
                var routebinid = row.insertCell(6);
								routebinid.innerHTML = data_report[i - 1].routebinid;
				        var coordinates = row.insertCell(7);
								coordinates.innerHTML = data_report[i - 1].coords;
									
               
               Object.defineProperty(Date.prototype, 'YYYYMMDDHHMMSS', {
       value: function() {
        function pad2(n) {  // always returns a string
            return (n < 10 ? '0' : '') + n;
        }

        return this.getFullYear() +
               pad2(this.getMonth() + 1) + 
               pad2(this.getDate()) +
               pad2(this.getHours()) +
               pad2(this.getMinutes()) +
               pad2(this.getSeconds());
       }

        });
        document.getElementById("date").innerHTML= new Date().YYYYMMDDHHMMSS();
      }
      function makeCode () {	
          const errors = JSON.parse(errors)
        for(i=0; i<data_report.length; i++){
        if(errors.indexOf(JSON.stringify(data_report[i].id))!==-1) { 
        console.log(errors.indexOf(JSON.stringify(data_report[i].id)))
        var row = document.getElementById('table').getElementByTagName('td') 
        row[i+1].style.backgroundColor = "white" 

       } 
      }
    }
       
    </script>
</body>

  
  
</html>
